<!-- INCLUDE overall_header.html -->

<body class="ppages">
    <div class="sidebar">
        <a href="home.html"><i class="fa fa-home"></i><span> Home</span></a>
        <a href="my-clubs.html"><i class="fa fa-book"></i><span> My Book Clubs</span></a>
        <a href="schedule.html"><i class="fa fa-calendar"></i><span> Schedule</span></a>
      </div>

    <div class="main-content">
    <header>
        <div class="header-group">
        <input type="text" placeholder="Search" class="search-bar" />
        <div class="icons">
            <a href="notifications.html" class="top-icon"><i class="fa fa-bell icon"></i></a>
            <a href="profile.html" class="top-icon"><i class="fa fa-user-circle icon"></i></a>
        </div>
        </div>
    </header>

    <h2 class="page-heading">Notifications</h2>

    <div class="notification-card">
        <h4>Notification</h4>
        <p>You have a message from so and so...</p>
    </div>

    <div class="notification-card">
        <h4>Notification</h4>
        <p>You have a message from so and so...</p>
    </div>

    <div class="notification-card">
        <h4>Notification</h4>
        <p>You have a message from so and so...</p>
    </div>

    </div>

    <footer class="footer">
        <a href="about.html">About</a>
        <a href="faq.html">FAQ</a>
    </footer>
</body>
</html>